body {
    background: rgb(39, 39, 39);
}

* {
    font-family: 'Inter', sans-serif;
}

#n1 {
    display: flex;
    justify-content: center;
    background: rgb(41, 41, 41);
    color: rgb(0, 0, 0);
    color: white;
    height: 70px;
    position: fixed;
    top: 0;
    width: 1400px;
    z-index: 1;
    left: 0;
}

#i1 {
    height: 30px;
    z-index: 1;
    margin-top: 20px;
    margin-left: 870px;
    cursor: pointer;
}

#h0 {
    margin-top: 20px;
    margin-left: -20;
    font-family: 'Inter',sans-serif
}

#bemvindo {
    font-family: 'Inter', sans-serif;
    margin-left: 500px;
    margin-top: 150px;
    font-size: 70px;
    font-weight: 800;
    color: white;
    text-shadow: 1px 2px black, -2px 3px black ;
}

#bem {
    margin-left: 90px;
    color: rgb(111, 255, 0);
}

#p1 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-left: 50px;
    margin-top: 130px;
    padding: 80px;
    color: rgb(255, 255, 255);
}

#p2 {
    margin-left: 290px;
}

#div1 {
    background: rgb(59, 59, 59);

}

#pjt {
    color: rgb(123, 255, 0);
}

#btn{
    height: 80px;
    border-radius: 1rem;
    font-size: 24px;
    border: 3px solid rgb(128, 255, 0);
    width: 300px;
    margin-left: 500px;
    background: rgba(123, 255, 0, 0);
    transition: all 0.3s;
    cursor: pointer;
}

#btn:hover {
    border: 3px solid rgb(123, 255, 0);
    background: rgba(123, 255, 0, 0.068);
}

#a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 800;
    height: 100%;
    font-size: 28px;
}

#menu {
    display: none;
    background: rgba(0, 0, 0, 0.745);
    color: aliceblue;
    width: 300px;
    height: 580px;
    margin-top: -925px;
    margin-left: 1000px;
    position: fixed;
}

#menuT {
    text-align: center;
    z-index: 4;
}

#comecarquiz {
    text-align: center;
    margin-top: 50px;
}

#questmenu{
    color: white;
    text-decoration: none;
    font-size: 20px;
    height: 100%;
}

#btnquiz {
    border: none;
    width: 200px;
    background-color: rgb(26, 26, 26);
    color: white;
    padding: 20px;
    border-radius: 1rem;
    height: 100%;
    cursor: pointer;
}

#btnCred {
    border: none;
    width: 200px;
    background-color: rgb(26, 26, 26);
    color: white;
    padding: 20px;
    border-radius: 1rem;
    margin-top: 30px;
    margin-left: 50px ;
    font-size: 20px;
    cursor: pointer;
    height: 100%;
}

#X {
    position: fixed;
    margin-top: 10px;
    color: red;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

#cre-o {
    display: none;
    height: 580px;
    background: rgba(0, 0, 0, 0.745);
    width: 300px;
    margin-top: -925px;
    margin-left: 1000px;
    color: white;
    z-index: 9;
    position: fixed;
    text-align: center;
}

#pfp {
    border-radius: 50%;
    margin-top: 50px;
}

#X2 {
    position: fixed;
    margin-top: -70px;
    color: red;
    height: 30px;
    margin-left: -28px;
    cursor: pointer;
}

#voltbtn {
    height: 35px;
    cursor: pointer;
    position: fixed;
    margin-top: 10px;
    margin-left: 100px;
}

@media (max-width: 578px) {
        #n1 {
            height: 80px;
            width: 567px;
        }
        #h0 {
            font-size: 20px;
            margin-top: 30px;
            margin-left: -20px;
        }
        #i1 {
            margin-left: 180px;
            height: 40px;
            margin-top: 20px;
        }
        #text {
            margin-left: -130px;
        }
        #div0{
            margin-left: -180px;
        }
        #bemvindo {
            margin-left: 300px;
        }
        #div1{
            margin-left: 0;
        }
        #p1 {
            margin-left: 200px;
            font-size: 22px;
        }
        #p2{
            margin-left: 0px;
        }
        #btn {
            margin-left: 280px;
        }
        #menu {
            margin-left: 400px;
            position: fixed;
            height: 1050px;
            width: 300px;
            margin-top: -1100px;
        }
        #bem {
            margin-left: 80px;
        }
        #cre-o{
            margin-left: 200px;
            position: fixed;
            height: 1050px;
            width: 300px;
            margin-top: -1100px;
        }
}
